/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/src/wp-admin/*
/wp-admin/*
/src/wp-includes/*
/wp-includes/*

/src/index.php           
/src/wp-comments-post.php  
/src/wp-includes        
/src/wp-signup.php
/src/license.txt         
/src/wp-config-docker.php  
/src/wp-links-opml.php  
/src/wp-trackback.php
/src/readme.html         
/src/wp-config.php         
/src/wp-load.php        
/src/xmlrpc.php
/src/wp-activate.php     
/src/wp-config-sample.php  
/src/wp-login.php
/src/wp-admin            
/src/wp-content            
/src/wp-mail.php
/src/wp-blog-header.php  
/src/wp-cron.php           
/src/wp-settings.php
